@import url('https://fonts.googleapis.com/css?family=Quicksand')
*{
    box-sizing:border-box;
    padding:0px;
    margin:0px;
}

html,body{
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(ggitgitimg/328730.jpg);
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    height:100vh;
    width: 100%;
    font-family: 'Quicksand', sans-serif;


}

.Yummy{
    color:#13d1c5;
    float:right;
    margin-right:58px;
    margin-top:-7px;

}

.Login {
    max-width:330px;
    padding:15px;
    margin:0 auto;
}

.Login .form-header,
.Login {
    margin-bottom:10px;
}

.Login{
    font-weight:normal;
}

.Login .form-control {
    position:relative;
    height:auto;
    -webkit-box-sizing:border-box;
             box-sizing:border-box;
    padding:10px;
    font-size:16px;

}
.Login form-control:focus {
    z-index:2;
}

.Login input [type = 'email'] {
    margin-bottom:-1px;
    border-bottom-right-radius:1;


}
.Login input[type='password'] {
    margin-bottom:1px;
    border-bottom-right-radius:1;

}

.btn-switch {
    color: #fff;
    background:#13d1c5;
    margin-top: 0.5em;
    box-shadow: inset 0 0 0 1px #13d1c5;
    width:100%
}


#inputEmail {

    margin-bottom: 0.5em;
}

#inputPassword {
    margin-bottom: 0.5em;
}

.form-header{
    margin-left:em;
    font-size:1em;
    color: #fff;
    }


.my-space {
    top: 20%;
    }

.Signup{
    max-width:330px;
    padding:15px;
    margin:0 auto;
    margin-top:50px;
    font-weight:normal;

}
.Login a {
    float:right;
    margin-top:-39px;

}
.Login p {
    color:#13d1c5;
}
.ourInput {
    margin-bottom: 0.5em;
}

.top-end{
    margin-right:20px;
}

.text{
    position:absolute;
    top:15%;
    width:100%;
    text-align:center;
    color:#fff;
    font-weight:27px;
    text-transform:uppercase;
    letter-spacing:8px;
    font-size:40px;
     color:#ffa500;

    }







