<!DOCTYPE html>
<html lang="en">
  <head>
          <meta charset="utf-8">
          <meta name ="viewport" content = 'width=device-width, initial-1 =1'>
      <link href = 'style.css' rel = 'stylesheet' type = 'text/css'>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
      <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
  </head>
  <body>

  <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
      <a class="navbar-brand" href="#"  style="color:#ffa500;">Yummy Recipes</a>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
           <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                <a class="nav-link" href="myrecipe.html">My-Recipes <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="category.html">categories</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="index.html">Logout</a>
              </li>
            </ul>
      </div>
  </nav>
          <div class="text">
                <span class="border">
                    Yummy Recipes
                </span>
          </div>

          <div class="container">
              <div class='card'>
              <h2>Githeri </h2>
              <p>
                      1. Pre-boiled maize and beans in equal amounts
                      2. 4 Tbsp vegetable oil
                      3. 1 onion, chopped (200g)
                      6. 1 tomato, peeled and chopped (200g)
                      5. 3-4 carrots chopped
                      6. 3-4 potatoes cut into pieces
                      7. 2 MAGGI Onion and spices tablets
                      8. Salt
              </p>

              <div class="centreButtons">
                <button class="btn-edit">Edit</button>
                <button class="btn-delete">Delete</button>
                   <button class="btn-delete">Back</button>
              </div>


          </div>

          </div>
  </body>

</html>